


.img-fluid{
    cursor: pointer;
}
.carousel-inner {
    margin-left: -7px;
}


/*sidebar new */ 
.dropbtn {
  color: white;
  /* padding: 16px; */
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #f8f9fa;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f8f9fa;
}
.sidebar-navigation {
  width: 220px;
  height: auto;
  background-color: #fff;
  /*margin: 50px auto;*/
  webkit-box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.16);
}
.sidebar-navigation .title {
  display: block;
  font-size: 16px;
  /* background-color: #1e1e1e; */
  padding: 20px 25px;
  color: #0b185a;
    text-decoration: underline;
  font-weight: 500;
  /* text-transform: uppercase; */
  /* letter-spacing: 0.1em; */
}

.sidebar-navigation ul {
  margin: 0;
  padding: 0;
}
.sidebar-navigation ul li {
  display: block;
}
.sidebar-navigation ul li a i {
    padding-right: 10px;
}
.sidebar-navigation ul li a {
  position: relative;
  display: block;
  font-size: 13px;
  font-weight: 500;
  padding: 10px 25px;
  text-decoration: none;
  color: #2e2e2e;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #eee;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.sidebar-navigation ul li a em {
  font-size: 24px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px;
  border-radius: 50%;
}
.sidebar-navigation ul li:hover > a, .sidebar-navigation ul li.selected > a {
  background-color: #ecf0f1;
  color: #495d62;
  border-color: rgba(255, 255, 255, 0.1);
}
.sidebar-navigation ul li ul {
  display: none;
}
.sidebar-navigation ul li ul.open {
  display: block;
}
.sidebar-navigation ul li ul li a {
  color: #495d62;
  border-color: rgba(255, 255, 255, 0.1);
}
/*.sidebar-navigation ul li ul li a:before {
  content: "";
  width: 10px;
  height: 1px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  background-color: #495d62;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}*/
.sidebar-navigation ul li ul li:hover > a, .sidebar-navigation ul li ul li.selected > a {
  background-color: #e6ebed;
}
.sidebar-navigation ul li ul li:hover > a:before, .sidebar-navigation ul li ul li.selected > a:before {
  margin-right: 10px;
}
.sidebar-navigation ul li ul li.selected.selected--last > a {
  background-color: #94aab0;
  color: #fff;
}
.sidebar-navigation ul li ul li.selected.selected--last > a:before {
  background-color: #fff;
}

.subMenuColor1 {
  background-color: #fbfcfc;
}






/*new sidebar end*/

/*profile dropdown start*/
.overlay {
  height: 0%;
  width: 20%;
  position: absolute;
  z-index: 1;
  top: 120px;
  /*left: 0;*/
  right: 15px;
  background-color: rgb(0,0,0);
  background-color: rgb(248 249 250);
  overflow: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: left;
  margin-top: 30px;
  left: 40px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 22px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 0px;
  right: 15px;
  font-size: 40px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
/*profile dropdown end */


header.main_header {
        background-color: #FEEE00;
        padding: 0px;
        color: #fff;
        box-shadow: 3px 3px #ff000000, -1em 0 0.4em #80800000;
}
.pro_img h5 {
    font-size: 14px;
    color: #08185A;
    height: 35px;
    padding-top: 10px;
    padding-bottom: 35px;
    /*font-family: 'Roboto';*/
    font-family: 'Lato', sans-serif;
}
.delivery ul li a img {
    width: 10px;
    height: 12px;
    margin-right: 5px;
}
.head_phone a img {
      width: 10px;
      height: 12px;
      margin-right: 5px;
}

.delivery ul {
    /* padding: 0px !important; */
    padding: 3px;
    margin-bottom: 0px;
}
.delivery ul li {
    display: inline-block;
}
button.btn.btn-primary.chane.border-0 {
    background-color: #08185A !important;
}
.delivery a {
    color: #000;
    text-decoration: none;
    border-right: 1px solid #707070;
    padding-right: 10px;
    /*font-family: 'Roboto';*/
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-style: normal;
    margin-right: 2px;
    font-weight: 400;
}
.head_phone{
    padding: 3px;
    text-align: right;
}
.head_phone a {
       color: #000;
       text-decoration: none;
       padding-right: 15px;
       text-align: right;
       /* font-family: 'Roboto'; */
       font-family: 'Lato', sans-serif;
       font-style: normal;
       font-size: 12px;
       font-weight: 400;
}
.delivery ul li a:hover {
    color: #0b185a;
}

.head_phone a:hover {
    color: #0b185a;
}
li.bos a {
    border: none;
}
.head_phone a i {
    transform: rotate(90deg);
}

/*/top bar section end*/

/*navigation bar section start*/

* {
  font-family: "Source Sans Pro", "Roboto", Arial, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dropdown-menu.show {
  -webkit-animation: fadeIn 0.3s alternate;
  /* Safari 4.0 - 8.0 */
  animation: fadeIn 0.3s alternate;
}

.nav-item.dropdown.dropdown-mega {
  position: static;
}
.nav-item.dropdown.dropdown-mega .dropdown-menu {
  width: 90%;
  top: auto;
  left: 5%;
}

.navbar-toggler {
  border: none;
  padding: 0;
  outline: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}
li.nav-item a i {
    border-left: 1px solid;
    padding-left: 10px;
}
.navbar-toggler .hamburger-toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  z-index: 11;
  float: right;
}
li.nav-item a {
    color: #08185A !important;
    font-size: 14px !important;
    /*font-family: 'Roboto';*/
    font-family: 'Lato', sans-serif;
}
.navbar-toggler .hamburger-toggle .hamburger {
  position: absolute;
  transform: translate(-50%, -50%) rotate(0deg);
  left: 50%;
  top: 50%;
  width: 50%;
  height: 50%;
  pointer-events: none;
}
.navbar-toggler .hamburger-toggle .hamburger span {
  width: 100%;
  height: 4px;
  position: absolute;
  background: #333;
  border-radius: 2px;
  z-index: 1;
  transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.2s ease-in-out;
  left: 0px;
}
.navbar-toggler .hamburger-toggle .hamburger span:first-child {
  top: 10%;
  transform-origin: 50% 50%;
  transform: translate(0% -50%) !important;
}
.navbar-toggler .hamburger-toggle .hamburger span:nth-child(2) {
  top: 50%;
  transform: translate(0, -50%);
}
.navbar-toggler .hamburger-toggle .hamburger span:last-child {
  left: 0px;
  top: auto;
  bottom: 10%;
  transform-origin: 50% 50%;
}
.navbar-toggler .hamburger-toggle .hamburger.active span {
  position: absolute;
  margin: 0;
}
.navbar-toggler .hamburger-toggle .hamburger.active span:first-child {
  top: 45%;
  transform: rotate(45deg);
}
.navbar-toggler .hamburger-toggle .hamburger.active span:nth-child(2) {
  left: 50%;
  width: 0px;
}
.navbar-toggler .hamburger-toggle .hamburger.active span:last-child {
  top: 45%;
  transform: rotate(-45deg);
}
ul.navbar-nav.mr-auto.mb-2.mb-lg-0.float-end {
    padding-left: 60px;
}

.icons {
  display: inline-flex;
  margin-left: auto;
}
.icons a {
  transition: all 0.2s ease-in-out;
  padding: 0.2rem 0.4rem;
  color: #ccc !important;
  text-decoration: none;
}
.icons a:hover {
  color: white;
  text-shadow: 0 0 30px white;
}
.searching_pro {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 700px !important;
}
li.nav-item a img {
    width: 12px;
    height: 15px;
    margin-right: 5px;
}
/*navigation bar section end */



/*.carousel-item img {
    height: 420px !important;
}
*/

/*main slider section start*/



/*main slider section end */

/*popular items section start */
section.popular_sec {
    margin-top: 20px;
}
.popular_head {
    padding-top: 20px;
    padding-bottom: 20px;
}

.popular_head h3 {
    font-size: 22px;
    color: #08185A;
    font-weight: 500;
    /*font-family: 'Roboto';*/
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-decoration:underline;
}
.pro_img h4 {
    font-size: 14px;
    color: #08185A;
    /*font-family: 'Roboto';*/
    font-family: 'Lato', sans-serif;
}
.p-3.border.bg-light.btnchan {
    border-radius: 15px;
    background-color: #fff !important;
    /*box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;*/
    /*box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;*/
}
select#product {
    width: 100%;
    padding: 5px;
    border-radius: 6px;
    font-size: 13px;
    border-color: #000;
}
.pro_btn1 select {
    width: 100%;
    padding: 5px;
    border-radius: 6px;
    border-color: #000;
}
.pro_img {
    min-height: 312px;
}
.pro_btn2 {
    margin-top: 15px;
    width: 100% !important;
}
.p-3.border.bg-light.btnchan:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.pro_btn2 a {
    width: 100%;
}
a.btn.btn-primary.chane {
    background-color: #08185A !important;
    color: #fff;
    border-color: #08185A !important;
    padding: 3px;
    font-size: 13px;
}
/*popular item section end */
/*recommeneded section start */
/*.recommend_banner {
    padding-bottom: 25px;
    padding-top: 25px;
}*/
.recommend_banner h4 {
    font-size: 22px;
    /*font-family: 'Roboto';*/
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-decoration: underline;
    color: #0b185a;
}
a.btn.btn-primary.chane:hover {
    background-color: #fff !important;
    color: #08185A;
    border-color: #08185A !important;
    font-size: 13;
}
section.recommend_sec {
    padding-top: 20px;
    padding-bottom: 20px;
}

.recommend_banner img {
    margin-bottom: 15px !important;
}


/*recommended section end*/

/*/footer sec start*/
footer#footer {
    /*background-image: url(../images/contact_info.jpg);
    background-repeat: no-repeat;
    background-position: center center;*/
    padding: 30px 0 0px;
    background-color: #fff;
}
.contactlistinfo img {
    width: 165px;
}
.contactlistinfo h5 {
    color: #000;
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
    /* text-align: center; */
    /* font-family: 'Roboto'; */
    font-family: 'Lato', sans-serif;
    padding-top: 20px;
    padding-left: 25px !important;
    padding-bottom: 15px;
    color: #0b185a;
}
.contactlistinfo a {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
   /*font-family: 'Roboto';*/
   font-family: 'Lato', sans-serif;
    color: #000;
    margin: 0 auto;
    /*display: table;*/
}
.contactlistinfo ul li {
    list-style: none;
    padding-left: 0px !important;
}
.contactlistinfo.contactlistinfo1 ul li i {
    padding-right: 15px;
}
.contactlistinfo ul li.f_phone img {
    width: 15px;
}
li.f_phone img {
    margin-right: 13px;
}
.contactlistinfo ul li {
    color: #707070;
    font-size: 18px;
}
.contactlistinfo ul li a {
    text-decoration: none;
}
.contactlistinfo a span {
    display: block;
    /*text-align: center;*/
}
.contactlistinfo p {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    /*font-family: 'Roboto';*/
    font-family: 'Lato', sans-serif;
    color: #000;
    /*text-align: center;*/
}
.contactlistinfo1 p {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    /*font-family: 'Roboto';*/
    font-family: 'Lato', sans-serif;
    color: #000;
    /*text-align: center;*/
}
.contactlistinfo p span {
    display: block;
}
.contactlistinfo.contactlistinfo1 li.f_phone i {
    transform: rotate(90deg);
}
span.highligh1 {
    color: #08185A;
}


.contactlistinfo ul li a:hover {
    color: #0b185a;
}
/*/footer sec end*/
/*copysec start*/
section.copysec {
    background-color: #fff;
    padding: 5px 0 4px;
}
.copytext p {
    color: #000;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    /*font-family: 'Roboto';*/
    font-family: 'Lato', sans-serif;
}
.iconlist ul {
    padding: 0;
    text-align: center;
    padding-left: 25px;
    padding-top: 25px;
    font-size: 35px;
    text-decoration: none;
}
.iconlist ul li {
    list-style: none;
    display: inline-block;
    margin: 0 4px;
}
.iconlist ul li a {
    background-color: #fff;
    color: #92a2bc;
    width: 15px;
    height: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    /* border-radius: 50px; */
    margin-left: 10px;
    text-decoration: none;
}

.iconlist ul li a:hover{
  /*background-color: #2c5081;*/
  color: #000;
}

.copyright_ap ul li {
    display: inline-block;
    font-size: 13px;
    color: #08185A;
}
li.allright {
    float: right;
    border-left: 1px solid;
    color: #707070 !important;
}
.aboutimg img {
    transition: 1s;
}
.aboutimg img:hover{
  transform: scale(1.1);
}
.copytext ul li {
    display: table-cell;
}
.copytext ul {
    padding: 0px !important;
}
.copytext ul li img {
    width: 140px;
}
img.img-fluid.king {
    margin-left: 30px;
}
.copytext h3 {
    font-size: 20px;
    color: #08185A;
    /*font-family: 'Roboto';*/
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
}
.iconlist ul li a:hover {
    /* background-color: #000; */
    color: #0b185a;
}
.copyright_ap {
    padding-top: 35px;
}
/*copysec end*/

/*cart section start */
.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 15px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  /*background-color: #111;*/
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  /*background-color:#444;*/
}
ul.cart_page li .quantity {
    /* padding-top: 20px; */
    /* margin-left: 50px; */
    width: 150px;
}
.freehome_d {
    padding: 15px;
}

.freehome_d .sub_tot h3 {
        font-size: 16px;
    padding-top: 10px;
    color: #707070;
}

.freehome_d .sub_tot h4 {
    text-align: right;
    position: relative;
    bottom: 30px;
    font-size: 15px;
    color: #707070;
}
.check_o_btn button {
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.check_o_btn {
    align-items: center;
    justify-content: center;
    display: flex;
}


.item.cartitem {
    height: 100px;
}

.buttons.float-end {
    text-align: right;
    position: absolute;
    right: 60px;
    top: 40px;
}
.item.cartitem .buttons.float-end h3 {
    font-size: 13px;
    text-align: right;
    color: #0b185a;
}

.item.cartitem .image {
    margin: 0px !important;
}

.item.cartitem .description ul.cart_page {
    display: inline-flex;
}

.item.cartitem .description ul.cart_page li {
    list-style: none;
}
.cart-quan input {
    width: 30px;
    height: 15px;
    border: none;
    text-align: center;
}
.total-price1 {
    padding-left: 20px;
    font-size: 14px;
}
.freehome_title {
    color: #0b185a;
    border-color: #0b185a;
    font-size: 14px !important;
    margin-right:10px;
}
.cart-quan {
    display: inline-flex;
    margin-left: -30px;
}
.check_o_btn button {
    background-color: #0b185a;
    color: #fff;
    border: none;
    font-size: 16px;
    padding: 8px 30px;
    border-radius: 5px;
}
.cart-quan button.minus-btn {
    background-color: #0b185a;
    color: #fff;
    border: none;
    font-size: 10px;
    border-radius: 5px;
}

.cart-quan button.plus-btn {
    background-color: #0b185a;
    color: #fff;
    border: none;
    font-size: 10px;
    border-radius: 5px;
}
.item.cartitem .image1 img {
    height: 100%;
    /* min-height: 3px; */
}
li.cart-total.total-price1{
    width: 83px;
    /*padding-top: 27px;*/
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}
/*cart section end */


/*product  details page start*/

/*product header section start */

.breadcrumb>li+li:before {
    padding: 0 10px;
    color: #ccc;
    content: ">\00a0";
}
.prothreeHead ol.breadcrumb li a {
    text-decoration: none;
    color: #707070;
}

/*product header section end*/


/*product details section strats */
.productD_head {
    padding-top: 30px;
}
.proDimg {
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    align-items: center;
}
.productD_head h4 {
    color: #0b185a;
    font-size: 22px;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 0;
    padding-top: 20px;
}
.productD_head hr {
    color: #CBCBCB;
}


.proDimg img {
    width: 100%;
    display: flex;
    margin: 0 auto;
    min-height: 330px;
    align-items: center;
    align-items: center;
}
.productD_head h3 {
    font-size: 22px;
    color: #0b185a;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 0;
}
.productD_para p {
    font-size: 22px;
    color: #707070;
    font-family: 'Roboto';
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 10px;
}
.productD_para span {
    color: #707070;
    font-size: 12px;
    font-family: 'Roboto';
    font-weight: 500;
}
.productD_head ul li {
    display: inline-block;
    margin-left: -30px;
        width: 150px;
}
.prodetails_size select#productd {
    width: 130px;
    height: 30px;
    text-align: center;
    font-size: 14px;
}
.quantity {
  padding-top: 20px;
  margin-left: 50px;
  width: 150px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 50px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
 
.quantity button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #08185A;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.quantity .minus-btn i {
  margin-bottom: 3px;
  color: #fff;
}
.quantity .plus-btn i {
  margin-top: 2px;
  color: #fff;
}
 
.quantity button:focus,
input:focus {
  outline:0;
}

/*product details section end*/

/*product page end */



/*Category section start */
.shopping-cart {
  width: 750px;
  height: 423px;
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
 
  display: flex;
  flex-direction: column;
}

.item {
    padding: 20px 15px;
    height: 150px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: space-between;
    
}
 
.item:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}
buttons{
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}
.delete-btn,
.like-btn {
  display: inline-block;
  Cursor: pointer;
}
.delete-btn {
  width: 18px;
  height: 17px;
  
}
 
.like-btn {
  position: absolute;
  top: 9px;
  left: 15px;
  background: url('twitter-heart.png');
  width: 60px;
  height: 60px;
  background-size: 2900%;
  background-repeat: no-repeat;
}
.is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}
 
@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}
.image {
  margin-right: 50px;
}
 
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}
 
.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}
 
.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}
.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
.pro_discount input {
    position: relative;
    top: 6px;
}

.pro_discount h3 {
    padding-left: 10px;
    font-size: 12px;
    text-decoration: none;
    padding-top: 5px;
}
.pro_discount {
    padding-top: 5px;
}
/*category section end */


/*check out page start */

section.delivery_sec {
    margin-top: 40px;
    padding: 50px;
}
.delivery_body_sec {
    position: relative;
}

.d_address ul li button {
    position: absolute;
    right: 50px;
    top: 0;
     background-color: #0b185a;
    border: none;
    padding: 5px 20px;
    color: #fff;
    border-radius: 5px;
}

.d_address ul {
    display: inline-block;
    text-decoration: none;
    margin-left: -32px;
}


.d_address ul li {
    text-decoration: none;
    display: inline-block;
}
.d_address ul li h4 {
    font-size: 22px;
    color: #0b185a;
}
.delivery_body_sec .save_dropadd select {
    width: 93%;
    height: 35px;
    padding: 0px 5px;
    color: #707070;
    font-size: 15px;
    border-color: #CBCBCB;
}
.payment_m {
    color: #0b185a;
    font-size: 16px;
}
.payment_m h4 {
    padding-top: 15px;
    font-size: 22px;
    color: #0b185a;
}

.payment_m textarea {
    width: 93%;
    height: 170px;
    padding: 10px;
    color: #0b185a;
    margin-top: 15px;
    border-color: #CBCBCB;
}


.cont_shop h3 {
    text-align: right;
    padding-right: 36px;
    font-size: 18px;
    color: #0b185a !important;
        padding-bottom: 20px;
}
.cont_shop h3 a {
    color: #0b185a;
}
.cont_shop_sec {
    border: 1px solid #CBCBCB;
    background-color: #ffff;
    border-radius: 5px;
    padding: 15px;
}
.billng_det h3 {
    color: #0b185a;
    font-size: 22px;
    padding-bottom: 10px;
    font-family: 'Roboto';
    font-weight: 500;
}
.billingsub_tot table tr td {
    padding-top: 20px !important;
}
.billingsub_tot table tr td {
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 400;
}
.billingsub_tot button {
    display: flex;
    text-align: center;
    margin: auto;
    font-size: 18px;
    padding: 5px 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #fff;
    background-color: #0b185a;
    border: none;
    border-radius: 5px;
}

/*check out page end */





/*personal profile information page start */
section.profile_sec {
    margin-top: 40px;
}
.personal_details {
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #CBCBCB;
    /* border-radius: 5px; */
}
.personal_info button {
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 500;
    background-color: #fff;
    padding: 10px;
    color: #000;
    border: none;
    width: 100%;
    text-align: start;
    text-decoration: none;
    border-radius: 10px;
        border-radius: 10px 10px 0px 0px;
}

.change_password button {
  font-size: 18px;
    font-family: 'Roboto';
    font-weight: 500;
    background-color: #fff;
    padding: 10px;
    color: #000;
    border: none;
    width: 100%;
    text-align: start;
    text-decoration: none;

        border-radius: 0px 0px 10px 10px;
}

.personal_info .active, .btn:hover {
    background-color: #0b185a;
    color: #fff;
}
.change_password .active, .btn:hover {
    background-color: #0b185a;
    color: #fff;
}
.personal_info button:active {
    background-color: #0b185a;
    color: #fff;
}
.change_password button:active {
    background-color: #0b185a;
    color: #fff;
}

.personal-f form .form-group {
    padding-bottom: 15px;
}
.cont_shop_sec1 {
    border: 1px solid #CBCBCB;
    background-color: #ffff;
    border-radius: 5px;
    padding: 30px 15px;
    margin-bottom: 50px;
    /*margin-top: 30px;*/
}
.form-group button {
    position: relative;
    left: 30%;
    right: 50%;
    top: 20px;
    /*margin-top: 20px;*/
    color: #fff;
    background-color: #0b185a;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 500;
    padding: 5px 30px;
    border: none;
    border-radius: 5px;
}
.custom-control.custom-radio.custom-control-inline {
    /*display: inline-block;*/
        padding-right: 70px;
}

/*personal profile information page end */



/*modal css start*/
.already_create h4 {
    color: #707070;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
}
.modal-header {
    border: none !important;
}
.modal-body {
    padding: 0px 50px !important;
}
.modal-content {
    border: 5px solid #08185A !important;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10) !important;
}
.already_create h5 {
    color: #08185A;
    font-size: 24px;
    padding-bottom: 15px;
    font-family: 'Roboto';
    font-weight: 500;
}
.already_create h4 a {
    text-decoration: none;
    color: #08185A;
    font-size: 18px;
    font-weight: 500;
}
a.btn1 {
    align-items: center;
    text-align: center !important;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
button.btn2 {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    border: none;
    background-color: #08185A;
    color: #ffff;
    padding: 5px 90px;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    margin-bottom: 30px;
}
button.btn3 {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    border: none;
    background-color: #08185A;
    color: #ffff;
    padding: 5px 90px;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*modal css end*/


/*madia query section start*/




@media screen and (max-width:1366px) {
    
}

@media screen and (max-width:1240px) {

}

@media screen and (max-width:1199px) {
 
}

@media screen and (max-width:991px) {
    ul.navbar-nav.mr-auto.mb-2.mb-lg-0.float-end li a {
    font-size: 10px !important;
}

}

@media screen and (max-width:768px) {
    ul.navbar-nav.mr-auto.mb-2.mb-lg-0.float-end li a {
    font-size: 10px !important;
}
ul.navbar-nav.mr-auto.mb-2.mb-lg-0.float-end {
     padding-left: 0px; 
    /* font-size: 10px !important; */
}
}

@media screen and (max-width:767px) {
    
}

@media screen and (max-width:575px) {
 .sidebar-navigation {
    display: none !important;
}
button.navbar-toggler.collapsed {
    border: none;
    position: relative;
    left: 20px;
}
      .head_phone {
    padding: 5px;
    text-align: left;
}
    .input-group.searching_pro {
    width: 100% !important;
}
img.img-fluid.king {
     margin-left: 0px; 
}
.pro_img {
    min-height: 312px;
}
.pro_img h5 {
    font-size: 10px;
    padding-bottom: 10px;
}
.pro_btn1 select#product {
    padding: 5px;
    text-align: center;
    font-size: 14px;
}

.pro_btn2 a {
    font-size: 10px;
}
.navbar-light .navbar-toggler {
    color: none !important;
    border-color: none!important;
}
}

@media screen and (max-width:480px) {
    button.navbar-toggler.collapsed {
    border: none;
    position: relative;
    left: 20px;
}
 .sidebar-navigation {
    display: none;
}
    .head_phone {
    padding: 5px;
    text-align: left;
}
       .input-group.searching_pro {
    width: 100% !important;
}
 img.img-fluid.king {
     margin-left: 0px; 
}
.pro_img {
    min-height: 265px;
}
.pro_img h5 {
    font-size: 10px;
    padding-bottom: 10px;
}
.pro_btn1 select#product {
    padding: 5px;
    text-align: center;
    font-size: 14px;
}

.pro_btn2 a {
    font-size: 10px;
}
.navbar-light .navbar-toggler {
    color: none !important;
    border-color: none!important;
}
  
}

@media screen and (max-width:414px) {
    .sidebar-navigation {
    display: none !important;
}
button.navbar-toggler.collapsed {
    border: none;
    position: relative;
    left: 20px;
}
      .head_phone {
    padding: 5px;
    text-align: left;
}
    .input-group.searching_pro {
    width: 100% !important;
}
img.img-fluid.king {
     margin-left: 0px; 
}
.pro_img {
    min-height: 312px;
}
.pro_img h5 {
    font-size: 10px;
    padding-bottom: 10px;
}
.pro_btn1 select#product {
    padding: 5px;
    text-align: center;
    font-size: 14px;
}

.pro_btn2 a {
    font-size: 10px;
}
.navbar-light .navbar-toggler {
    color: none !important;
    border-color: none!important;
}
}

@media screen and (max-width:360px) {
    button.navbar-toggler.collapsed {
    border: none;
    position: relative;
    left: 20px;
}
    .sidebar-navigation {
    display: none !important;
}
      .head_phone {
    padding: 5px;
    text-align: left;
}
   .input-group.searching_pro {
    width: 100% !important;
}
 img.img-fluid.king {
     margin-left: 0px; 
}
.pro_img {
    min-height: 265px;
}
.pro_img h5 {
    font-size: 10px;
    padding-bottom: 10px;
}
.pro_btn1 select#product {
    padding: 5px;
    text-align: center;
    font-size: 14px;
}

.pro_btn2 a {
    font-size: 10px;
}
.navbar-light .navbar-toggler {
    color: none !important;
    border-color: none!important;
}
}
